<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your <%= @leader_name %> has choose the restaurant for your <%= @group_name %> on coming friday. So, be prepared</p>
  </body>
</html>