<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have been apointed as a leader for this particular <b><%= @group_name %></b>. So please sign in the app and select restaurants for your group</p>
  </body>
</html>