<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>We have a <b><%= @event.event_type %></b> on coming friday. Your <b><%= @leader_name %></b> will be choosing restaurant for your <b><%= @group_name %></b> shortly.Stay tuned</p>
  </body>
</html>