<% if current_user.admin? %>
  <div class="row">
    <div class='col-11 offset-1 col-sm-4'>
      <h3>Create Event</h3>
      <%= render :template => 'events/new'  %>
    </div>
  </div>
<% elsif current_user.user? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <%= pie_chart [["Yes", Response.where(vote: "yes").count], ["No", Response.where(vote: "no").count]], id:'polls'%>
      </div>
    </div>
    <% unless current_user.response_exists?(current_user, @event.id) %>
      <div class="row">
        <div class='col-11 offset-1 col-sm-4'>
          <h3>New poll</h3>
          <%= render :template => 'responses/new' %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Right now there is no upcoming event. Stay tune we will inform you</p>
<% end %>
