<table class="table">
  <thead>
    <tr>
      <th scope="col">Restaurant Name</th>
      <th scope="col">Attachment</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <th scope="row"><%= restaurant.name %></th>
        <td><%= link_to "Download File", restaurant.attachment_url %></td>
      </tr>
    <% end %>
    <%= link_to 'Back to Dashboard', polls_path, class: 'btn btn-primary button_align mr-1' %>
    <%= link_to 'Add new restaurant', new_restaurant_path, class: 'btn btn-primary button_align' %>
  </tbody>
</table>