/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 */
 
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

 body {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
 }

 .navbar-brand {
   color: #FFF !important;

   &:hover {
     background-color: unset;
   }
 }

.form-control {
  outline: none !important;
   
  &:focus {
    border-color: transparent !important;
    border: 1px !important;
  }
 }

.center_align {
  margin: 0 auto;
  width: 80%;
  margin-top: 50px;
 }

.button_align {
  margin-bottom: 20px;
  margin-top: 11px;
}

.gallery-title {
  font-size: 36px;
  color: #42B32F;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e;
}

.filter-button {
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #42B32F;
  margin-bottom: 30px;
}

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #42B32F;
}

.btn-default:active .filter-button:active {
  background-color: #42B32F;
  color: white;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}

.thumb {
  text-align: center;
}

.img-responsive {
  width: 100%;
  height: 100%;
}
